[submodule "rapidcheck"]
	path = rapidcheck
	url = git@github.com:emil-e/rapidcheck.git
  ignore = dirty
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
  ignore = dirty
